/* CSS Document */
body,html{ max-width:100%; min-width:320px; height:100%; padding:0; margin:0 auto; font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; font-size:16px; color:#000; background-color:#fff;}

a img { border:0;}

p,ul,li{ display:block; list-style:none; padding:0; margin:0;}

img{height:auto; overflow:hidden;width:100%;}



input{ font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; padding:0; margin:0; outline:none; }

textarea{ font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; }

a{ outline:none; text-decoration:none; color:#2e2e2e; }

a:link{ text-decoration:none; }

.top{ width:100%; height:auto; overflow:hidden; background-color:#f9f9f9; padding-top:15px; padding-bottom:20px;}
.t_l{ float:left; width:25px; height:45px; margin-left:18px; display:inline;}
.t_c{ float:left; font-weight:bold; font-size:22px; width:73%; text-align:center;}
.t_r{ float:right; width:44px; height:44px; margin-right:18px;}
.cen_a{ width:100%; height:auto; overflow:hidden; margin-top:46px;}
.ca_01{ float:left; width:77px; height:77px; margin-left:20px; display:inline;}
.ca_02{ float:left; color:#a0a0a0; font-size:26px; margin-top:18px; margin-left:26px; display:inline;}
.ca_03{ float:right; color:#fa5b5b; font-size:20px; margin-right:18px; margin-top:18px;}
.cen_b{ width:100%; height:auto; overflow:hidden; margin-top:26px; color:#000000; font-size:26px;}
.cb_01{ float:left; margin-left:18px; display:inline; font-weight:bold;}
.cen_c{ width:100%; height:auto; overflow:hidden; margin-top:40px;}
.cc_01{ float:left; width:77px; height:57px; margin-left:20px; display:inline;}
.cc_02{ float:left; color:#fff; background-image:url(../images/p5.jpg); width:233px; height:75px; margin-left:24px; display:inline; font-size:26px; padding-left:100px; line-height:70px;}
.cc_03{ float:left; color:#a0a0a0; width:100%; margin-top:40px; font-size:12px;}
.cc_04{ margin-left:30px; display:inline;}
.cc_05{ float:right; margin-right:30px;}
.cc_06{ float:right; background:url(../images/p6.jpg) no-repeat; width:28px; height:30px; margin-right:10px;}
.cc_07{ float:right; margin-right:16px;}
.cen_d{ width:100%; height:auto; overflow:hidden; margin-top:40px;}
.cd_01{ float:left; font-size:14px; margin-left:18px; display:inline;}
.cd_02{ float:left; font-size:14px; color:#a0a0a0; margin-left:10px; display:inline;}
.cd_03{ float:left; margin-left:10px; display:inline; font-size:14px; color:#a0a0a0;}
.cd_04{ float:right; width:14px; height:24px; margin-top:6px;}
.cen_e{ width:100%; height:180px; margin-top:40px; margin-top:50px; background-color:#f9f9f9; border-top:1px solid #efefef; border-bottom:1px solid #efefef;}
.ce_01{ width:90%; height:46px; background-color:#eeeeee; border-radius:6px; margin:0 auto; margin-top:30px; color:#fa5b5b; font-weight:bold; text-align:center; font-size:12px; line-height:44px;}
.ce_02{ float:left; color:#bebebe; font-size:14px; font-weight:bold; margin-left:30px; display:inline; margin-top:60px;}
.cen_f{ width:100%; height:auto; overflow:hidden; margin-top:22px; }
.cen_f ul{ float:left; padding-left:18px; display:inline;}
.cen_f ul li{ float:left; border-bottom:1px solid #efefef; padding-bottom:30px;}
.cen_f ul li p{ float:left; font-size:20px; width:100%; margin-top:16px;}
.cen_f ul li span{ float:left; width:77px; height:77px; margin-top:16px;}
.cf_01{ float:left; color:#a0a0a0; font-size:14px; margin-top:36px; margin-left:10px; display:inline;}
.foot{ width:100%; background-color:#f9f9f9; height:100px;}
.tw_a{ width:100%; height:auto; overflow:hidden; margin-top:60px;}
.tw_b{ width:156px; height:156px;margin:0 auto;}
.tw_c{ width:100%; height:auto; text-align:center; font-weight:bold; font-size:32px; margin-top:16px;}
.tw_d{ width:100%; height:auto; text-align:center; color:#a0a0a0; font-size:22px;}
.tw_e{ width:90%; height:100px; border-top:1px solid #efefef; margin-top:80px;}
.tw_e p{ width:90%; float:left; color:#a9a9a9; font-size:18px; margin-top:35px; margin-left:30px}
.tw_f{ width:100%; height:auto; background-color:#f9f9f9; overflow:hidden; border-top:1px solid #efefef;}
.tw_f textarea{ width:90%; height:300px; border-radius:6px; border:1px solid #c7c5c5; display:block; margin:0 auto; color:#a0a0a0; font-size:18px; padding-left:10px; padding-right:10px; padding-top:16px;}
.zw{ height:50px; }
.tw_f label{ float:left; margin-left:20px; display:inline; margin-top:20px; color:#a0a0a0; font-size:18px; height:auto; width:100%;}
.tw_f label input{ margin-right:15px;}
.tw_f p{ width:100%; height:auto; overflow:hidden; text-align:center; color:#fa5b5b; font-weight:bold; font-size:24px; margin-top:100px;}
.submit{ width:90%; height:76px; margin:0 auto; display:block; background-color:#1a96d5; border-radius:18px; border:0px; margin-top:80px; font-size:28px; color:#FFFFFF; margin-bottom:50px;}
.tw_wd{ width:100%; height:90px; overflow:hidden; margin-top:90px; border-top:1px solid #efefef;}
.tw_wd ul{ margin-top:30px;}
.tw_wd ul li{ float:left; width:33%; font-size:12px; color:#000000; font-weight:bold; text-align:center;}
.tw_wd ul li span{ color:#fa5b5b;}
.wd_a{ width:100%; height:70px; background-color:#f9f9f9; border-top:1px solid #efefef; border-bottom:1px solid #efefef; padding-top:20px;}
.wd_a p{ width:80%; font-size:12px; color:#a0a0a0; margin-left:30px; display:inline; float:left;}
.wd_b{ width:97%; height:auto; overflow:hidden; padding-left:10px; padding-right:10px;}
.wd_b li{ float:left; width:100%; height:90px; font-size:16px; line-height:90px; font-weight:bold; border-bottom:1px solid #efefef;}
.wd_b li span{ float:right; margin-top:30px;}
.wd_c{ width:100%; height:110px; background-color:#f9f9f9; border-top:1px solid #efefef; margin-bottom:70px}
.wd_c a{ width:90%; height:50px; margin:0 auto; display:block; background-color:#1a96d5; border-radius:18px; border:0px;font-size:16px; color:#FFFFFF; margin-top:30px; text-align:center; line-height:46px;}
.wd_d{ width:100%; height:80px; background-color:#1a96d5;}
.wd_d li{ width:33.3%; float:left; text-align:center; font-size:20px; line-height:80px; height:80px;}
.wd_d li a{ color:#76c0e6;}
.wd_d li a:hover{ color:#FFFFFF; border-top:2px solid #FFFFFF; }
.ww_jg{ width:100%; height:30px; background-color:#f9f9f9; border-top:1px solid #efefef; border-bottom:1px solid #efefef; margin-top:20px;}
.ww_f{ width:100%; height:150px; background-color:#f9f9f9; margin-top:20px; border-top:1px solid #efefef;}
.bt img{ width:40%; height:40%; margin:0 auto; text-align:center; display:block; padding-top:100px;}
.sj input{ width:70%; height:90px; border-radius:50px; border:2px solid #1a96d5; margin:0 auto; display:block; font-size:30px; margin-top:110px;  color:#c9c9c9; padding-left:30px;}
.dl input{ width:75%; height:90px; border-radius:50px; background-color:#1a96d5; color:#ffffff; margin:0 auto; display:block; border:none; font-size:24px; margin-top:32px; text-align:center;}
.wx input{ width:75%; height:90px; border-radius:50px; background-color:#6fba2c; color:#ffffff; margin:0 auto; display:block; border:none; font-size:24px; margin-top:130px; text-align:center;}


.tx_content { width:90%; height:300px; border-radius:6px; border:1px solid #c7c5c5; display:block; margin:0 auto; color:#a0a0a    0; font-size:18px; padding-left:10px; padding-right:10px; padding-top:16px;}


.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
	background:#1a96d5;
	color:#fff;
	font-size:1.2em;
	font-family:'微软雅黑';
}
.bottom ul li{
	width:33.33%;
	float:left;
	text-align:center;
}
.bottom ul li a.self {
    border-top: 2px solid #fff;
    opacity: 1;
}
.bottom ul li a {
    width: 2.2em;
    height: 2em;
    display: block;
    margin: 0.1em auto;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
    padding-top: 10px;
    opacity: 0.4;
}
.bottom ul li a .icon{width:100%;height:60px;}
.bottom ul li a img{display:block;}
.bottom ul li a:hover{color:#fff;}
.b_t{ width:100%; height:auto; text-align:center; color:#a0a0a0; font-size:24px; margin-top:200px; padding-bottom:50px;}
