@charset "utf-8";
/* CSS Document */

body{
	font-size:16px;
	font-family:'微软雅黑' Arial, Helvetica, sans-serif;
	color:#FFF;
	background:#f9f9f9;
}

a{ color:#333;text-decoration:none;}
*{margin:0;padding:0;}
.clear{clear:both;}
ul{list-style:none;}

.search{text-align:center;padding: 0.3em;color:#fff;font-size: 1em;font-family: '微软雅黑'letter-spacing:2px;background: #fff;width: 90%;margin: 0.4em auto;border-radius: 1.5em;border: 1px solid #1a96d5;margin-bottom: -0.3em;}
.search_btn{
    border: none;
    background: #fff;
}
.search_btn img{
    width: 1.2em;
    border: none;
}
.search_box{
    border: none;
    margin-left: 0.3em;
}
.content{margin-bottom: 70px;}
.topic{margin-top:0.8em; padding-left:10px; border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;background:#fff;}
.topic_tit{font-size: 1em;margin-top: 0.5em;margin-bottom: 0.6em;color: #000;font-family: '微软雅黑';margin-left: 5px;}
.topic_detail_left{width:90%;float:left;font-size:1em;margin-top:0.3em;}
.topic_detail_num{font-size:1.5em;padding-left:5px;padding-right:5px;}
.topic_detail_left input{width: 1.5em;}
.topic_detail_question_owner{vertical-align:middle;}

.topic_detail_img {border: 1em solid #FFF; height: 2em;display: inline-block;float: left;}
.topic_detail_img p{color:#C0C0C0;background-origin: content-box;display: inline-block;float: left;}
.topic_detail_price{display:block;font-size: 1em;color: #FF0000;letter-spacing: 0;font-family: '宋体';margin-left: 5px;line-height: 1.3em; float:right;}
.topic_detail_right_1{width: 25%;float:right;margin-right: 5px;margin-top: 1.2em;color: #a0a0a0;font-size: 1em; margin-bottom:8px}
.topic_detail_left_1{width: 15%;float:left;margin-right: 5px;margin-top: 1.2em;color: #a0a0a0;font-size: 1em; margin-bottom:8px}



.topic_detail_left{width: 80%;float:left;font-size:1em;margin-top:0.3em;}
.topic_detail_author{display:block;font-size: 1.3em;color: #a0a0a0;letter-spacing: 0;font-family: '宋体';margin-left: 5px;line-height: 1.3em;}
.topic_detail_photo{
    width: 3em;
    border-radius: 1.5em;
    margin-bottom: 0.5em;
    float: left;
}
.topic_detail_words{border: 1em solid #1a96d5;border-image: url(../images/3_07.jpg) 0 42 0 42 stretch;height: 2em;display: inline-block;float: left;margin-top: -0.4em;}
.topic_detail_words p{background:#1a96d5;background-origin: content-box;color: #fff;display: inline-block;padding: 0.4em 1em;float: left;}
.topic_detail_bg_voice{height: 1.3em;margin-left: -1.3em;margin-right: 0.7em;}
.topic_detail_right{width: 15%;float:right;margin-right: 5px;margin-top: 1.2em;color: #a0a0a0;font-size: 0.8em;}
.topic_detail_right span{font-size:0.6em;}

.top{ width:100%; height:auto; overflow:hidden; background-color:#f9f9f9; padding-top:15px; }
.t_l{ float:left; width:25px;  margin-left:18px; display:inline;}
.t_c{ float:center; font-weight:bold;  width:100%; text-align:center; color:#000}
.t_r{ float:right; width:44px;  margin-right:18px; }

.tw_a{ width:100%; height:auto; overflow:hidden; margin-top:30px;}
.tw_b{ height:auto;margin:0 auto;text-align: center;}
.tw_c{ width:100%; height:auto; text-align:center; font-weight:bold; font-size:1em; margin-top:16px; color:#000}
.tw_d{ width:100%; height:auto; text-align:center; color:#a0a0a0; font-size:0.7em;}
.tw_e{ width:90%; height:100px; border-top:1px solid #efefef; margin-top:80px;}
.tw_e p{ float:left; color:#a9a9a9; font-size:1em; margin-top:35px;}
.tw_f{ width:100%; height:auto; background-color:#f9f9f9; overflow:hidden; border-top:1px solid #efefef;}
.tw_f textarea{ width:90%; height:300px; border-radius:6px; border:1px solid #c7c5c5; display:block; margin:0 auto; color:#a0a0a0; font-size:1em; padding-left:10px; padding-right:10px; padding-top:16px;}

.tw_wd{ width:100%;  overflow:hidden; margin-top:20px; margin-bottom:25px; border-top:1px solid #efefef;}
.tw_wd ul{ margin-top:30px;}
.tw_wd ul li{ float:left; width:33%; font-size:0.7em; color:#000000; font-weight:bold; text-align:center;}
.tw_wd ul li span{ color:#fa5b5b;}
.wd_b{ width:97%; height:auto; overflow:hidden; padding-left:10px; padding-right:10px;}
.wd_b li{ float:left; width:100%; height:60px; font-size:1em; line-height:60px; font-weight:bold; border-bottom:1px solid #efefef;}
.wd_b li span{ float:right; margin-top:25px; margin-right:10px;}
.wd_c{ width:100%; height:110px; background-color:#f9f9f9; border-top:1px solid #efefef; margin-bottom:70px}
.wd_c a{ width:90%; height:50px; margin:0 auto; display:block; background-color:#1a96d5; border-radius:18px; border:0px;font-size:26px; color:#FFFFFF; margin-top:30px; text-align:center; line-height:46px;}
.wd_d{ width:100%; height:80px; background-color:#1a96d5;}
.wd_a{ width:100%; height:70px; background-color:#f9f9f9; border-top:1px solid #efefef; border-bottom:1px solid #efefef; padding-top:20px;}
.wd_a p{ width:80%; font-size:1em; color:#a0a0a0; margin-left:30px; display:inline; float:left;}

.bt img{ width:40%; height:40%; margin:0 auto; text-align:center; display:block; padding-top:100px;}
.sj input{ width:75%; height:40px; border-radius:50px; border:2px solid #1a96d5; margin:0 auto; display:block; font-size:1.5em; margin-top:60px;  color:#c9c9c9; padding-left:20px; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; }
.dl a{ width:75%; height:40px; border-radius:50px; background-color:#1a96d5; color:#ffffff; margin:0 auto; display:block; border:none; font-size:1.5em; margin-top:35px; text-align:center; vertical-align:middle}
.wx input{ width:75%; height:40px; border-radius:50px; background-color:#6fba2c; color:#ffffff; margin:0 auto; display:block; border:none; font-size:1.5em; margin-top:35px; text-align:center;}




.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
	background:#1a96d5;
	color:#fff;
	font-size:1.2em;
	font-family:'微软雅黑';
}
.bottom ul li{
	width:33.33%;
	float:left;
	text-align:center;
}
.bottom ul li a.self {
    border-top: 2px solid #fff;
    opacity: 1;
}
.bottom ul li a {
    width: 2.2em;
    height: 2em;
    display: block;
    margin: 0.1em auto;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1em;
    padding-top: 10px;
    opacity: 0.4;
}
.bottom ul li a .icon{width:100%;height:60px;}
.bottom ul li a img{display:block;}
.bottom ul li a:hover{color:#fff;}






