<!doctype html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--禁止缩放-->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<title>主界面</title>

<link href="css/page_style.css" rel="stylesheet" type="text/css">
<style>


</style>
<script type="text/javascript" src="js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="js/loader.js" ></script>
<script type="text/javascript" src="js/hot_list.js" ></script>
<script type="text/javascript" src="js/audio_player.js" ></script>
</head>

<body >
<div class="search">
    <button class="search_btn" type="submit"><img src="images/3_03.jpg"></button><input class="search_box" type="text" placeholder="搜索感兴趣的人和事件"  >
</div>
<div class="content" id="content">
        {{range .TopicList}}
   	<div class="topic">
        <div class="topic_tit">
          <a href="/question?qid={{.Tid}}" >{{.Content}}</a>
        </div>
        <div class="topic_detail">
             <div> <span class="topic_detail_author">{{.CreatorName }}<!-- 刘宏俊--> |{{.AudioUrl}} {{.CreatorTitle}} </div>
             <div class="topic_detail_left">
             	<a href="/inquiry?anu={{.CreatorId}}" target="_self" ><img class="topic_detail_photo" src="images/3_10.jpg" align="middle"></a>
                <span class="topic_detail_words" onclick="player.playOrStopUrl('{{.AudioUrl}}')" ><p><img class="topic_detail_bg_voice" align="top" src="images/icon_voice_13.png">1元偷偷看</p></span>
             </div>
       		 <div class="topic_detail_right"> 看过 {{.UserCount}} </div>  
             <div class="clear"></div>
        </div> 
	</div>
        <script type="text/javascript">
              current_timestamp = new Date({{.TimeStamp}});
        </script>
        {{end}}
</div>
<div class="bottom">
 	 <ul>
    	<li><a class="self" href="#">热门</a></li>
        <li><a class="" href="/newest_list" target="_self">发现</a></li>
        <li><a class="" href="/personal" target="_self">我的</a></li>
        
    </ul>
</div>
<script type="text/javascript">
    var player = new AudioPlayer();
</script>
</body>

</html>
