<!doctype html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--禁止缩放-->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<title>主界面</title>

<link href="css/page_style.css" rel="stylesheet" type="text/css">
<style>


</style>
</head>

<body >
<div class="search">
    <button class="search_btn" type="submit"><img src="images/3_03.jpg"></button><input class="search_box" type="text" placeholder="搜索感兴趣的人和事件"  >
</div>
<div class="content">
        {{range .TopicList}}
   	<div class="topic">
        <div class="topic_tit">
          {{.Content}} <!-- 生命科学真的离我们生活很远吗？ -->
        </div>
        <div class="topic_detail">             
             <div>
             <span class="topic_detail_author">{{.CreatorName }}<!-- 刘宏俊--> | {{.CreatorTitle}}
              </div>
             <div class="topic_detail_left">
             	<a href="/inquiry?anu={{.CreatorId}}" target="_self" ><img class="topic_detail_photo" src="images/3_10.jpg" align="middle"></a>
                <a href="/question?qid={{.Tid}}" ><span class="topic_detail_words"><p><img class="topic_detail_bg_voice" align="top" src="images/icon_voice_13.png">1元偷偷看1元偷偷看</p></span></a>
             </div>
       		 <div class="topic_detail_right">
             看过 {{.UserCount}}
    		 </div>  
             <div class="clear"></div>
        </div>    
	</div>
        {{end}}
</div>
<div class="bottom">
 	 <ul>
    	<li><a class="self" href="#">热门</a></li>
        <li><a class="" href="/newest_list" target="_self">发现</a></li>
        <li><a class="" href="/personal" target="_self">我的</a></li>
        
    </ul>
</div>
</body>

</html>
