<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发出询问</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="top">
    <div class="t_l"><a href=""><img src="images/p1.jpg" /></a></div>
	<div class="t_c">aaaa</div>
	<div class="t_r"><a href=""><img src="images/p2.jpg" /></a></div>
</div>
<div class="tw_a">
    <div class="tw_b"><img src="images/p9.jpg" /></div>
	<div class="tw_c">bbb</div>
	<div class="tw_d">ccc</div>
	<div class="tw_e">
	    <p>ddddd</p>
	</div>
</div>
<div class="tw_f">
    <form action="/inquiry" method="POST">
    <div class="zw"></div>
    <textarea name="content" onKeyDown="textdown(event)" onKeyUp="textup()" placeholder="请输入您所关心的问题"></textarea>
	<label><input name="Fruit" type="checkbox" value="" /></label>
	<p>£€100</p>
	<input type="submit" value="提交" class="submit"> 
     </form>
</div>
</body>
</html>
