<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发出询问</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="top">
    <div class="t_l"><a href=""><img src="images/p1.jpg" /></a></div>
	<div class="t_c">向{{.InqName}}提问</div>
	<div class="t_r"><a href=""><img src="images/p2.jpg" /></a></div>
</div>
<div class="tw_a">
    <div class="tw_b"><img src="images/p9.jpg" /></div>
	<div class="tw_c">{{.InqName}}</div>
	<div class="tw_d">{{.InqTitle}}</div>
	<div class="tw_e">
	    <p>共回答了{{.InqUserAnsweredQues}}个问题，收入{{.InqUserRevenue}}元</p>
	</div>
</div>
<div class="tw_f">
    <form action="/inquiry" method="POST">
    <input type="hidden"  value="{{.InqUid}}" name="anu" />
    <input type="hidden"  value="{{.InqName}}" name="inqname" />
    <input type="hidden"  value="{{.InqTitle}}" name="inqtitle" />
    <input type="hidden"  value="{{.InqUserAnsweredQues}}" name="iuq" />
    <input type="hidden"  value="{{.InqUserRevenue}}" name="iur" />
    <div class="zw"><center><font style="color:#ff0000;" >{{.ErrMsg}}</font></center></div>
    <textarea name="content" placeholder="向李##提问，等Ta回答；超过４８小时未回答，将按支付路径全额退款，被回答后可免费向Ta追问。"></textarea>
	<label><input name="ispublic" type="checkbox" value="{{.IsPublic}}" />公开提问，每被偷偷看1次，你从中分成￥0.5元</label>
	<p>100</p>
	<input type="submit" value="提交" class="submit"> 
     </form>
</div>
</body>
</html>
