<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>提问</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="top">
    <div class="t_l"><a href=""><img src="images/p1.jpg" /></a></div>
	<div class="t_c">向刘宏俊提问</div>
	<div class="t_r"><a href=""><img src="images/p2.jpg" /></a></div>
</div>
<div class="tw_a">
    <div class="tw_b"><img src="images/p9.jpg" /></div>
	<div class="tw_c">刘宏俊</div>
	<div class="tw_d">中科院北京基因组研究所,遗传学博士</div>
	<div class="tw_e">
	    <p>共回答了101个问题，收入20000元</p>
	</div>
</div>
<div class="tw_f">
    <div class="zw"></div>
    <textarea onKeyDown="textdown(event)" onKeyUp="textup()" onfocus="if(value=='向刘宏俊提问，等Ta回答；超过48小时未回答，将按支付路径全额退款，被回答后可免费向Ta追问。'){value=''}"
    onblur="if (value ==''){value='向刘宏俊提问，等Ta回答；超过48小时未回答，将按支付路径全额退款，被回答后可免费向Ta追问。'}">向刘宏俊提问，等Ta回答；超过48小时未回答，将按支付路径全额退款，被回答后可免费向Ta追问。</textarea>
	<label><input name="Fruit" type="checkbox" value="" />公开提问，每被偷偷看一次，你从中分成￥0.5元 </label>
	<p>￥100</p>
	<input type="submit" value="写好了" class="submit"> 
</div>
</body>
</html>
