<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人页面</title>
<link href="css/page_style.css" rel="stylesheet" type="text/css" />
<base target="_blank" />
</head>

<body>
<div class="top">
	<div class="t_c">我的</div>
</div>
<div class="tw_a">
    <div class="tw_b"><img src="images/p8.jpg" /></div>
	<div class="tw_c">刘宏</div>
	<div class="tw_d">中科院医学博士</div>
	<div class="tw_wd">
	    <ul>
		    <li>2108观看</li>
			<li>总收入<span>20000</span>元</li>
			<li>总收益<span>20000</span>元</li>
		</ul>	    
	</div>
	<div class="wd_a">
	    <p>向我提问需要支付100， 可以免费追问</p>
		<p>收入90%归你， 按月结算</p>
	</div>
</div>
<ul class="wd_b">
    <a href=""><li>我的问吧主页<span><img src="images/p10.jpg" /></span></li></a>
	<a href=""><li>我问<span><img src="images/p10.jpg" /></span></li></a>
	<a href=""><li>我答<span><img src="images/p10.jpg" /></span></li></a>
	<a href=""><li>我看<span><img src="images/p10.jpg" /></span></li></a>
	<a href=""><li>帮助<span><img src="images/p10.jpg" /></span></li></a>
	<a href=""><li>结算说明<span><img src="images/p10.jpg" /></span></li></a>
	<a href=""><li style="border:none;">关于问吧<span><img src="images/p10.jpg" /></span></li></a>
</ul>
<div class="wd_c">
    <a href="">退出登陆</a>
</div>
<div class="bottom">
 	 <ul>
    	<li><a class="" href="hot_list.html" target="_self">热门</a></li>
        <li><a class="" href="hot_list.html">发现</a></li>
        <li><a class="self" href="#">我的</a></li>
        
    </ul>
</div>
</body>
</html>
