<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{.Title}}</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="js/question.js" ></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" ></script>
<script type="text/javascript" src="js/audio_player.js" ></script>
</head>

<body>
<div class="top">
    <div class="t_l"><a href=""><img src="images/p1.jpg" width="30" height ="30"/></a></div>
	<div class="t_c">{{.Title}}</div>
	<div class="t_r"><a href=""><img src="images/p2.jpg" width="30" height ="30" /></a></div>
</div>
<div class="cen_a">
    <div class="ca_01"><img src="images/p3.jpg" /></div>
	<div class="ca_02"></div>
	<div class="ca_03">{{.Price}}</div>
</div>
<div class="cen_b">
    <div class="cb_01">{{.Content}}</div>
</div>
<div class="cen_c">
      <div class="topic_detail_left">
          <a href="/inquiry?anu={{.CreatorId}}" target="_self" ><img class="topic_detail_photo" src="images/3_10.jpg" align="middle"></a>
          <span class="topic_detail_words" onclick="if (player.state == 0) player.play(); else player.stop();" ><p>1元偷偷看</p></span>
       </div>

     <div class="clear"></div>
    <div class="cc_03">
        <P class="cc_04">{{.Date}}前</P>
        <p class="cc_07">{{.RecCount}}</p>
        <p class="cc_06"></p>
        <p class="cc_05">看过  {{.UserCount}}</p>		
    </div>
</div>
<div class="cen_d">
    <div class="cd_01">{{.CreatorName}} </div>
    <div class="cd_02">|</div>
    <div class="cd_03">{{.CreatorTitle}}</div>
    <div class="cd_04"><img src="images/p7.jpg" /></div>
</div>

<div class="cen_e">
    <a href=""><div class="ce_01">打赏</div></a>
    <div class="ce_01" onclick="if (gstat== false) startRecord(); else stopRecord(); ">回答问题</div>
    <div class="ce_02">问吧推荐</div>
</div>
{{range .RelatedList}}
<div class="cen_f">
    <ul>
         <li>
              <p><a href="">{{.Title}}</a></p>
              <span><img src="images/p8.jpg" /></span>
              <div class="cf_01">{{.AskToName}} | {{.AskToTitle}}</div>
           </li>
	</ul>
</div>
{{end}}
<script type="text/javascript">
    var qid = "{{.Tid}}";
    var player = new AudioPlayer("{{.AudioUrl}}");//"http://kolber.github.io/audiojs/demos/mp3/juicy.mp3");
    initjs();
</script>
<div class="foot"></div>
</body>
</html>
